extends layout

block content
  h1= title
  p Click below to go to Viztrack
  //////Button to redirect to viztrack
  //button(name = "redirect_Viztrack", type="submit", formmethod="POST") Viztrack
  form(method="POST")
    input(name ="redirect_Viztrack", type="text",placeholder="")
    button(type="submit") Viztrack